body {
    font-family: 'Open Sans', sans-serif;
}

#menu-bar{
    background-color: #FFCC66;
    padding: 10px;
}

#menu-bar h1{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}

#menu-bar ul{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
}

#menu-bar li{
    float: right;
    margin-left: 20px;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 2px solid red;
}

#error {
    color: red;
    font-weight: 400;
}

.searchinput {
    width : 200px;
}

.rowdisplay {
    width : 150px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block;
}

thead {
    cursor: pointer;
}

tr {
    cursor: pointer;
}