<div class="container">
    <div class="row">
        <h1>{{vm.title}}</h1>
        <div class="container cavs-container">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped table-bordered table-hover table-condensed table-resposive" novalidate>
                        <tr>
                            <td>First Name</td>
                            <td ng-hide="editing">{{cp.playerdetails.fname}}</td>
                            <td ng-if="editing">
                                <input type="text" ng-required="true" ng-model="cp.player.fname" placeholder="First Name" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td ng-hide="editing">{{cp.playerdetails.lname}}</td>
                            <td ng-if="editing">
                                <input type="text" ng-required="true" ng-model="cp.player.lname" placeholder="Last Name" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td ng-hide="editing">{{cp.playerdetails.age}}</td>
                            <td ng-if="editing">
                            <input type="number" ng-required="true" ng-model="cp.player.age" placeholder="Age" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td ng-hide="editing">{{cp.playerdetails.height}}</td>
                            <td ng-if="editing">
                                <input type="number" ng-required="true" ng-model="cp.player.height" placeholder="Height (inches)" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td ng-hide="editing">{{cp.playerdetails.position}}</td>
                            <td ng-if="editing">
                                <select ng-required="true" ng-model="cp.player.position" class="form-control">>
                                    <option value="Center">Center</option>
                                    <option value="Forward">Forward</option>
                                    <option value="Guard">Guard</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>College</td>
                            <td ng-hide="editing">{{cp.playerdetails.college | uppercase}}</td>
                            <td ng-if="editing">
                                <input type="text" ng-model="cp.player.college" placeholder="College" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Points per Game</td>
                            <td ng-hide="editing">{{cp.playerdetails.ppg | number:1}}</td>
                            <td ng-if="editing">
                                <input type="number" ng-required="true" ng-model="cp.player.ppg" placeholder="Avg PPG" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Salary</td>
                            <td ng-hide="editing">{{cp.playerdetails.salary | currency:$ :0 }}</td>
                            <td ng-if="editing">
                                <input type="number" ng-required="true" ng-model="cp.player.salary" placeholder="Salary" class="form-control">
                            </td>
                        </tr>
                    </table>

            <button ng-hide="editing" class="btn btn-btn-warning" ng-click="editing=!editing; cp.editPlayer(cp.playerdetails._id)">Edit</button>
            <button ng-hide="!editing" class="btn btn-success" ng-click="cp.updatePlayer(cp.player) || cp.updatePage(cp.player);
            editing=false;">Save</button>
            <button class="btn btn-primary" ng-hide="!editing" ng-click="editing=!editing">
                Cancel</button>
            <button class="btn btn-danger" ng-hide="editing" ng-click="cp.removePlayer(cp.playerdetails._id)"
            >Delete</button>
             <br /> <br />

             <h4><a href="#/cavs">Back to Cavs Roster</a></h4>

        </div>
    </div>
</div>

